h1 {
  width: 100%;
  text-align: center;
}

h2 {
  margin: 0 25px;
  text-indent: 25px;
}

h4 {
  margin: 0 25px;
  text-indent: 25px;
  color: rgb(255, 50, 50);
}

.default-type {
  color: rgb(255, 145, 0);
  font-weight: bolder;
}

.apis {
  width: 50%;
}

a {
  cursor: pointer;
  color: #3582fb;
  font-size: 14px;
  text-decoration: underline;
  margin: 0 12px;
}

.apis__item {
  margin: 5px;
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;

  .introduce__title {
    display: flex;
    font-size: 20px;
    margin: 15px;

    .title--ch {
      font-weight: bold;
    }

    .title--en {
      color: rgba(0, 0, 0, 0.85);
      font-style: italic;
    }
  }

  .content--ch {
    margin: 5px 0;
    text-indent: 15px;
  }

  .content--en {
    color: rgb(8, 255, 8);
    background-color: rgba(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    font-style: italic;
    text-indent: 15px;
  }

  .content__operate {
    margin: 15px;

    .content__operate__item {
      margin: 10px 0;
      text-align: right;

      .content__operate__item__additional-description {
        background-color: #e8e8e8;
        border-radius: 2px;
        padding: 2px;
        text-align: start;
      }
    }

    .additional-description--ch {
      color: rgb(0, 0, 0);
      text-indent: 15px;
    }

    .additional-description--en {
      color: rgb(0, 110, 0);
      text-indent: 15px;
    }
  }
}

.cherry-api-table {
  width: 100%;


}

.cherry-api-table th {
  background-color: #dfe6ee;
}

.cherry-api-table td {
  border-bottom: 1px solid #dfe6ee;
  text-align: center;
}