html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#cherry-markdown {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
}

.home {
  display: flex;
  height: 100%;
}

.apis {
  width: 50%;
  overflow: auto;
}